body {
  margin: 0;
  line-height: normal;
  width: 100vw;
  height: 100vh;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-josefin-sans: "Josefin Sans";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-lg: 18px;

  /* Colors */
  --color-whitesmoke: #eee;
  --color-lightseagreen: #00adb5;
  --color-gray-100: #1f2022;
  --color-gray-200: rgba(255, 255, 255, 0.6);

  /* Border radiuses */
  --br-8xs: 5px;
}
